
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #a9d6e5;
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
    font-family: "Times New Roman", sans-serif;
    color: #012a4a;
}

#container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px auto;
}

#container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#controls {
    padding: 20px;
    width: 300px;
    height: 250px;
    background-color: #012a4a;
    border-radius: 5px;

}

.color-select {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-family: "Times New Roman", sans-serif;
    color: #a9d6e5;
    font-weight: bold;
    width: 100%;
}

#color {
    border: none;
    width: 150px;
    height: 50px;
    background-color: #012a4a;

}

#clear {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Times New Roman", sans-serif;
    color: #a9d6e5;
    font-weight: bold;
    background-color: #012a4a;
    border: 1px solid #a9d6e5;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 5%;
}

#size {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

#grid-container {
    width: 600px;
    height: 600px;
    border: 1px solid gray;
    background-color: white;
    display: grid;
}

.grid-border {
    width: 650px;
    height: 650px;
    border-radius: 5px;
    background-color: #012a4a;
}


